.style{

    text-align: center;
    margin-top: 100px;
    margin-left: 500px;
    height: 600px;
    width: 1000px;
    background-color: whitesmoke;
}
.details{
    margin-top:100px;
    margin-left: 150px;
}
.logo{
    height: 50px;
    margin-left: 100px;
}
